<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RapidMessageCast_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RapidMessageCast_Manager.Properties.Settings>
            <setting name="EmergencyMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DontSaveBroadcastHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MessagePCEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MessageEmailEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MessagePSExecEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </RapidMessageCast_Manager.Properties.Settings>
    </userSettings>
</configuration>